@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --first-color:#0e2431;
    --second-color:rgb(31,178,90);
    --third-color:#777;
    --yellow-color: rgb(255,222,0);
    --red-color: rgb(237,23,79);

    --hovered-color:#614fd0;

    --body-bg-color:#fefefe;   
    --card-bg-color:#fff;
    --modal-bg-color:#fff;
    --bg-transparent-color:rgba(0,0,0, 0.1);
    --transparent-color-01:rgba(0,0,0,0.1);
    --transparent-color-02:rgba(106,89,209,0.1);
    --line-color:#d7d7d7;

    --color-filter: invert(1);

    --box-shadow: 0px 0px 20px rgb(0 0 0/10%);

    --small-font-size: 0.9em;
    --normal-font-size: 1em;

    --scroll-bar-color: #c5cadf;
    --scroll-thumb-color: #70768a;
    --scroll-thumb-hover-color: #454f6b;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif; 
}

html{
    scroll-behavior: smooth;
}

body{
    color: var(--first-color);
    background: var(--body-bg-color);
    margin: 2rem 0 0 0;
    transition: .5s ease;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.scrollToTop-btn{
    z-index: 99999;
    position: fixed;
    right: 0;
    bottom: 20px;
    width: 45px;
    height: 45px;
    background: var(--second-color);
    color: #fff;
    font-size: var(--small-font-size);
    border-radius: 3px;
    cursor: pointer;
    opacity: 0;
    transition: .5s ease;
}

.scrollToTop-btn.active{
    right: 20px;
    pointer-events: all;
    opacity: 1;
}

::-webkit-scrollbar{
    width: 10px;
    background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb{
    background: rgb(31, 178, 90);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover{
    background: rgb(237,23,79);
}


header{
    z-index: 99999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    transition: .6s ease;
}

header.sticky{
background: rgba(255,255,255, 0.1);
box-shadow: var(--box-shadow);
}

.nav-bar{
    position: relative;
    height: calc(4rem+1rem);
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    transition: .6s ease;
}

header.sticky .nav-bar{
    height: calc(2.5rem + 1rem);
}

.nav-bar .logo{
    color: var(--first-color);
    font-size: 2.5em;
    font-weight: 600;
}

.nav-items a{
    color: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
}

.nav-items a:not(:last-child){
    margin-right: 50px; 
}

.nav-items a:hover{
    color: var(--second-color);
}


.animated-text{
    position: relative;
    height: 55px;
    overflow: hidden;
    margin: 0 0 0 350;
}

.animated-text h3{
    color: var(--second-color);
    font-size: 2.5em;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 1px;
    align-self: center;
    
}

.animated-text h3:nth-child(1){
    animation: text-move 12s infinite;
}

@keyframes text-move {
    0%{
        margin-top: 0;
    }
    25%{
        margin-top: -50px;
    }
    50%{
        margin-top: -100px;
    }
    75%{
        margin-top: -50px;
    }
    100%{
        margin-top: 0px;
    }
}



.btn{
    background: var(--second-color);
    color: #fff;
    font-size: var(--normal-font-size);
    font-weight: 700;
    display: inline-block;
    margin: 25px;
    padding: 20px 30px;
    letter-spacing: 1px;
    border-radius: 10px;
}

.btn:hover{
    background: rgb(237,23,79);
    color: rgb(255,222,0);
}


@keyframes arrow-down{
    0%{
        transform: translateY(0);
    }
    30%{
        transform: translateY(10px);
    }
    
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    position: relative;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 0rem 2rem 1rem;
}

.sub-section{
    position: relative;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 0;
}

.section-title-01{
    font-size: 4.5em;
    font-weight: 800;
    margin-bottom: 2rem;
    background: linear-gradient(to top, transparent 0%, var(--first-color) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .1;
}

.section-title-02{
    font-size: 2.5em;
    font-weight: 700;
    transform: translateY(-80px);
    margin-top: px;
}

.section-title-02::before{
    content: '';
    position: absolute;
    width: 70px;
    height: 5px;
    right: 0;
    bottom: 0;
    background: var(--second-color);
}

.container{
    position: relative;
    flex-direction: column;
}


.services .container .content{
    width: 100%;
}

.services-description{
    font-size: 2em;
    margin-top: 50px;
}

.service-list{
    display: flex;
    /* grid-template-columns: repeat(auto-fill, minmax(225px, 1fr)); */
    max-width: 100%;
    margin: 0 auto;
    gap: 20px;
}

.service-list i{
    margin: 0 0 0 85;
}

.service-list h3{
    margin: 0 0 0 40;
}

.service-card{
    background: var(--card-bg-color);
    border-bottom: 3px solid var(--second-color);
    padding: 50px;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    margin: auto;
}

.service-card > i{
    color: var(--second-color);
    font-size: 3em;
    margin-bottom: 30px;
}

.service-card h3{
    font-size: 1.5em;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 20px;
}

.service-card .learn-more-btn{
    color: var(--third-color);
    cursor: pointer;
    transition: .3s ease;
}

.service-card .learn-more-btn i{
    transition: .3s ease;
}

.service-card:hover .learn-more-btn i{
    transform: translateX(10px);
}

.service-modal{
    z-index: 999999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: var(--bg-transparent-color);
    backdrop-filter: blur(10px);
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
}

.service-modal.active{
    visibility: visible;
    opacity: 1;
}

.service-modal-body{
    position: relative;
    background: var(--modal-bg-color);
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transform: translateY(-50px);
    transition: .5s ease;
}

.service-modal.active .service-modal-body{
    transform: translateY(0);
}

.service-modal-body .modal-close-btn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
}

.service-modal-body h3{
    font-size: 2em;
}

.service-modal-body h4{
    font-size: 1.3em;
    font-weight: 600;
    margin: 15px 0 10px;
}

.service-modal-body ul li{
    margin-top: 15px;
}

.service-modal-body ul li i{
    color: var(--second-color)
}



::placeholder{
    color: var(--first-color);
}




@media screen and (max-width: 1070pxpx) {
}




